addons/
appcache/
bliss/
backups/
changes/
DataCache/
dta/
docs/
battleye/
mpmissions/**/storage_[0-9]*
keys/
mods/
@*/
steamapps/
logs/
logleg/
dtao/
config/

*.mdmp
*.adm
*.log
*.rpt
dayz.gproj
whitelist.txt
DayZServer_x64.exe
DZSALModServer.exe
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
.DS_Store

mpmissions/dayzOffline.enoch/expansion/traderzones/*
profiles/ExpansionMod/Quests/PersistentServerData.JSON
profiles/CJ_LootChests/spawnedchests.txt
profiles/ExpansionMod/ATM/*
profiles/ExpansionMod/Groups/*
profiles/Airdrop/AirdropSettings_bakup*
profiles/Airdrop/AirdropSafezones_bakup*
profiles/CodeLock/Logs/**/*
profiles/CommunityOnlineTools/Logs/*
profiles/DC_Banking/PlayerDatabase
profiles/Depositary_System/PlayerData
profiles/PermissionsFramework/Permissions
profiles/PermissionsFramework/Players
profiles/ToxicZone/TZLogs
profiles/Dayz-Dog/players
omega.cfg
serverDZ.cfg
serverDZ.cfg.active
profiles/PvZmoD_TheDarkHorde_Profile_V2/Other/SaveData/Pvz_TheDarkHorde_SaveData.xml
